.mapContainer {
  position: absolute;
  top: 22%;
  right: 10%;
  left: 40%;
  bottom: 25%;
  border-style: solid;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 21.5%;
  left: 39.5%;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 3px;
  font-weight: bold;
}
