#infoText {
  color: white;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 55px;
  background-color: #2e9692;
}

#textBlock {
  color: white;
  font-size: 18px;
  margin: -1px;
  padding: 10px;
  width: 300px;
  text-align: left;
  position: relative;
  top: 370px;
  left: 310px;
}
