input {
    background-color: white;
    align-items: right;
}
label {
    color: white;
}
form {
    color: white;
}
#textBlock {
  color: white;
  font-size: 18px;
  margin: -1px;
  padding: 10px;
  text-align: left;
  width: 200px
}
